<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loggia" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:minSdkVersion="9"
        android:targetSdkVersion="15"
        android:theme="@style/Theme.DesignDemo"
        android:versionCode="1"
        android:versionName="0.1" >
        <activity
            android:name="com.loggia.Feed.EventFeedActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.loggia.Display.DisplayActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.loggia.Splash.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.loggia.Create.CreateActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
